* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gilroy;
    color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;
    
}

@font-face {
    font-family: Gilroy;
    src: url(../resources/fonts/Gilroy-Regular.ttf);
}

#main{
    background: linear-gradient(
        180deg,
        rgba(17, 17, 17, 1) 0%,
        rgb(12, 9, 28) 20%,
        rgb(16, 14, 38) 100%
      );
}

.wrapper-main{
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
}

nav{
    position: absolute;
    height: 16vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-container{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid white;

}

.nav-left>h1{
    font-size: 2vw;
}

.nav-mid{
    width: 50vw;
    display: flex;
    justify-content: space-evenly;
}

.nav-mid-elem-1{
    height: 3vh;
    width: 10vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    overflow: hidden;
}
.nav-mid-elem-1 a{
    text-decoration: none;
    font-weight: 900;
}
#nav-elem-up1{
    transform: translateY(0%);
}
#nav-elem-down1{
    /* transform: translateY(-100%); */
    transform: translateY(0%);
}

.nav-mid-elem-2{
    height: 3vh;
    width: 10vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    overflow: hidden;
}
.nav-mid-elem-2 a{
    text-decoration: none;
    font-weight: 900;
}
#nav-elem-up2{
    transform: translateY(0%);
}
#nav-elem-down2{
    /* transform: translateY(-100%); */
    transform: translateY(0%);
}

.nav-mid-elem-3{
    height: 3vh;
    width: 10vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    overflow: hidden;
}
.nav-mid-elem-3 a{
    text-decoration: none;
    font-weight: 900;
}
#nav-elem-up3{
    transform: translateY(0%);
}
#nav-elem-down3{
    /* transform: translateY(-100%); */
    transform: translateY(0%);
}

.nav-right{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 5vh;
    width: 3vw;
    cursor: pointer;
    z-index: 9999;
    /* transform: translateX(300%); */
}

.nav-bars{
    background-color: white;
    height: 0.2vh;
    width: 4vh;
    margin-bottom: 0.6vh;
    transition: all 0.3s ease;
    transform-origin: center;  
}

.nav-slider{
    position: absolute;
    height: 100vh;
    width: 50%;
    background-color: blue;
    top: 0%;
    right: 0;
    /* transform: translateX(100%); */
}

.page-1{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: .0001px solid white;
}

.heading-1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.2vh;
}

.page-1 h1{
    font-size: 8vw;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 8vw;
}

.page-1 h1 img{
    height: 6vw;
}

.heading-1 p{
    text-align: center;
    font-weight: 400;
    margin-top: 2vh;
}

#page1-something{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5vw;
}

#page1-something h4{
    font-weight: 400;
    padding: 5px 10px;
    border: 1px solid rgb(119, 119, 119);
    border-radius: 50px;
}

#page1-something h4:nth-last-child(2){
    border: none;
}

.btn-main{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7A63FF;
    margin-top: 2vh;
    border-radius: 50px;
}

.btn-main:hover{
    background-color: #6850eb;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vh 3vw;
}

.btn a{
    font-size: 1.5vw;
    text-decoration: none;
}

.page-2{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-2-container{
    height: 90%;
    width: 95%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.page-2-left{
    padding-left: 8vw;
    height: 100%;
    width: 40%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.page-2-left h2{
    font-size: 4vw;
    font-weight: 900;
}

.page-2-left p{
    width: 80%;
    font-weight: 200;
    font-size: 1.3vw;
}

.page-2-right{
    height: 100%;
    width: 50%;
}

.right-elem{
    position: relative;
    padding-top: 2vw;
    padding-bottom: 7vw;
    border-bottom: 1px solid #6c6b6b;
}

.right-elem h2{
    font-size: 1.4vw;
    font-weight: 400;
    cursor: default;
}

.right-elem .moving-elem{
    height: 2vw;
    width: 2vw;
    border-radius: 50%;
    position: absolute;
    background-color: #fff;
    border: 2px solid #333;
    opacity: 0;
    mix-blend-mode: difference;
    scale: 0;
}

.page-3{
    height: 100vh;
    width: 100%;
    background-color: #dfdfdf;
    display: flex;
}

.page-3-left{
    height: 100%;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-3-left-container{
    height: 90%;
    width: 90%;
}

.page-3-left-container h1{
    padding-left: 5vw;
    color: black;
    font-size: 3vw;
    font-weight: 900
}

.page-3-left-container h1 span{
    color: #7769FF;
}

.page-3-right{
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-3-right-container{
    height: 90%;
    width:  90%;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.page-3-right-elem{
    padding-top: 1vh;
    padding-right: 4vw;
}

.page-3-head{
    padding: 1.5vh 1vw;
}
.page-3-head h5{
    color: #818181;
    font-weight: 900;
    font-size: 1.2vw;
}
.page-3-body{
    padding-right: 1vw;
}

.page-3-body h2{
    color: #3C3C3C;
    padding-left: 1vw;
    font-size: 1.8vw;
}

.page-3-body h2 span{
    color: #7769FF;
}

.page-4{
    height: 120vh;
    width: 100%;
    background-color: #dfdfdf;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.page-4-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5vh;
}

.cards-up{
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
}

.cards-down{
    gap: 5vw;
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards{
    border-radius: 25px;
    padding: 5vh 3vw;
    background-color: #33333354;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width:70%;
}

.cards-number{
    margin-bottom: 2vh;
}

.cards-number h1{
    font-size: 3vw;
    color: rgba(0, 0, 0, 0.664);
}

.card-heading{
    margin-bottom: 2vh;
}

.card-heading h2{
    font-size: 1.2vw;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.664);
}

.card-content{
    margin-top: 1vh;
}

.card-content p{
    font-size: 1.5vw;
    color: rgba(0, 0, 0, 0.664);
}

.card-content p span{
    color: #7769FF
}

.divider{
    height: 1px;
    width: 100%;
    color: #333;
}

.page-5{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.page-5-wrapper{
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.upper-div{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.upper-div h1{
    font-size: 4.3vw;
    letter-spacing: 10px;
}
.middle-div{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.middle-div p{
    color: #a3a0a0;
    font-size: 1.3vw;
    text-align: center;
    letter-spacing: 1px;
}
.lower-div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.lower-div-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.lower-div-cards{
    margin-left: 2vw;
    margin-right: 2vw;
}
.card-upper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-upper-outline-circle{
    /* scale: 0.5; */
    margin-top: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: .1vw solid #20155d;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.card-upper-img-div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6850eb;
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
.card-upper-img-div i{
    font-size: 1.5vw;
}
.card-title{
    margin-top: 1vh;
}
.card-title h3{
    font-size: 1.5vw;
    font-weight: 800;
}
.card-para{
    margin-top: 1vh;
    width: 15vw;
}
.card-para p{
    font-size: .8vw;
    text-align: center;
    color: #999595;
}
.div-btn{
    margin-top: 3vh;
    /* background-color: red; */
    /* height: 5vw;
    width: 20vw; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6850eb;
    border-radius: 50px;
    transition: all .2s ease-in;
}
.btn-wrapper a{
    text-decoration: none;
    padding: 2vh 3vw;
    font-size: 1.3vw;
    font-weight: 600; 
}

.btn-wrapper:hover{
    background-color: #7A63FF;
}

.page-6{
    min-height: 120vh;
    width: 100%;
    background-color: #dfdfdf;
}

.page-6-top{
    width: 60%;
    padding-top: 10vh;
    padding-left: 7vw;
}

.top-heading h1{
    font-size: 4.2vw;
    color: black;
    font-weight: 800;
}

.top-para p{
    font-size: 1.2vw;
    color: #3C3C3C;
}

.page-6-heading{
    padding-left: 7vw;
    margin-top: 3vh;
}
.page-6-heading p{
    font-size: 2vw;
    color: #7A63FF;
    font-weight: 800;
}
.page-6-main-wrapper{
    padding-left: 7vw;
    margin-top: 3vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.page-6-main-content{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.main-img i{
    font-size: 3vw;
    color: #7A63FF;
}

.main-head-p6{
    margin-top: 1vh;
}
.main-head-p6 p{
    font-size: 1.7vw;
    font-weight: 900;
    color: #111;
}

.main-para-p6{
    margin-top: 1vh;
    width: 50%;
}
.main-para-p6 p{
    font-size: 1.3vw;
    color: #2a2929;
}

.page-6-lower-heading{
    padding-left: 7vw;
    margin-top: 3vh;
}
.page-6-lower-heading p{
    font-size: 2vw;
    color: #7A63FF;
    font-weight: 800;
}
.page-6-lower-main-wrapper{
    padding-left: 7vw;
    margin-top: 3vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.page-7{
    height: 100vh;
    width: 100%;
}






@media only screen and (max-width: 767px) {

    nav{
        height: 10vh;
    }
    .nav-mid{
        display: none;
    }
    /* nav{
        height: 15vh;
        justify-content: space-between;
        width: 75%;
    } */
    .nav-container{
        height: 15vh;
        justify-content: space-between;
        width: 75%;
    }
    .nav-left>h1{
        font-size: 5vw;
        padding-left: 2vw;
    }

    .nav-right{
        padding-right: 5vw;
    }

    .nav-slider{
        width: 100%;
    }

    .page-1 h1{
        font-size: 12vw;
    }
    .page-1 h1 img{
        height: 9vw;
    }
    .heading-1 p{
        font-size: 3vw;
        width: 80%;
        text-align: center;
        font-weight: 400;
        margin-top: 2vh;
    }
    #page1-something h4{
        font-size: 2vw;
        padding: 5px 5px;
    }

    .btn{
        padding: 2.5vh 10vw;
    }

    .btn a{
        font-size: 4vw;
    }
    .page-2{
        height: 50vh;
    }
    .page-2-container{
        flex-direction: column;
    }
    .page-2-left{
        height: 10%;
        padding-left: 4vw;
    }
    .page-2-left p{
        display: none;
        justify-content: center;
    }
    .page-2-right{
        padding-top: 5vh;
        padding-left: 4vw;
        width: 100%;
    };
    .right-elem{
        padding-bottom: 15vw;
        padding-top: 50vw;
    }
    .right-elem h2{
        font-size: 5vw;
    }
    .page-3{
        padding-top: 4vh;
        flex-direction: column;
    }

    .page-3-left{
        height: 10%;
        width: 100%;
        align-items: center;
    }
    .page-3-left-container h1{
        font-size: 7vw;
        padding-left: 0;
    }
    .page-3-right{
        width: 90%;
    }
    .page-3-head h5{
        font-size: 5vw;
    }
    .page-3-body h2{
        font-size: 4.5vw;
    }
    .lower-div-wrapper{
        flex-direction: column;
    }
    .middle-div{
        margin-top: 2vh;
        width: 80%;
    }
    .middle-div p{
        font-size: 2.7vw;
    }
    .card-upper-outline-circle{
        height: 70px;
        width: 70px;
    }
    .div-btn{
        margin-bottom: 5vh;
    }
    .card-upper-img-div{
        height: 50px;
        width: 50px;
    }
    .card-upper-img-div i{
        font-size: 5vw;
    }
    .card-title h3{
        font-size: 5vw;
    }
    .card-para{
        width: 50vw;
    }
    .card-para p{
        font-size: 3vw;
    }
    .btn-wrapper{
        margin-top: 2vh;
    }
    .btn-wrapper a{
        padding: 2vh 10vw;
        font-size: 4vw;
    }
    .page-5-wrapper{
        margin-top: 5vh;
    }

    .page-6{
        min-height: 80vh;
    }
    .page-6-top{
        width: 70%;
    }
    .top-heading h1{
        font-size: 6vw;
    }
    .top-para p{
        font-size: 2vw;
    }
    .main-img i{
        font-size: 6vw;
    }
    .main-head-p6 p{
        font-size: 2.5vw;
    }
    .main-para-p6{
        width: 70%;
    }
    .main-para-p6 p{
        font-size: 2.5vw;
    }
  }